/*! 
 * Modernized Navbar Styling
 */

 #mainNav {
  background-color: $gray-100;
  padding: 0.2rem 1rem;
  transition: all 0.3s ease-in-out;

  .navbar-toggler {
    font-size: 14px;
    padding: 10px 14px;
    text-transform: uppercase;
    color: white;
    border: none;
    background-color: $primary;
    @include heading-font;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($primary, 10%);
    }
  }

  .navbar-brand {
    color: $primary;
    @include script-font;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: color 0.3s ease-in-out;

    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($primary, 10%);
    }

    > img {
      height: 90px;
      max-width: 100%;
    }
  }

  .navbar-nav {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 0.5rem;
  }

  .nav-item {
    .nav-link {
      font-size: 14px; // Slightly smaller text
      padding: 0.2rem 0.8rem;
      color: #000;
      letter-spacing: 0.5px;
      @include heading-font;
      transition: color 0.3s;

      &.active,
      &:hover {
        color: $primary;
      }
    }
  }

  @media (max-width: 1300px) {
    .navbar-nav {
      flex-wrap: wrap; // Allow wrapping only on smaller screens
      justify-content: center; // Center items
    }
  }

  @media (min-width: 1200px) {
    padding: 0.2rem 2rem;
    border: none;
    background-color: $gray-100;

    .navbar-brand {
      font-size: 2rem;
      transition: all 0.5s;
      padding: 2px 0;
    }

    .navbar-nav .nav-item .nav-link {
      padding: 0.2rem 1rem;
    }

    &.navbar-shrink {
      background-color: $gray-100;
      padding: 0.2rem 1rem;

      .navbar-brand {
        font-size: 1.5rem;
        padding: 6px 0;
      }

      .navbar-brand > img {
        height: 45px;
      }
    }
  }
}
