<!-- More Calculators -->
<section class="page-section bg-light calculators py-5" id="{{ site.data.sitetext.more-calculators.section | default: "calculators" }}">
  <div class="container">
    <div class="calculators__header text-center">
      
      <h2 class="calculators__title">{{ site.data.sitetext.more-calculators.title | default: "Services We Offer" }}</h2>
      
      {% if site.data.sitetext.more-calculators.text %}
        <h3 class="text-muted">{{ site.data.sitetext.more-calculators.text }}</h3>
      {% endif %}
    </div>

    <div class="calculators__grid">
      {% for service in site.data.sitetext.more-calculators.list %}
      <div class="calculators__card">
        <div class="calculators__icon">
          <i class="{{ service.icon | default: 'fas fa-shopping-cart' }}"></i>
        </div>
        <h4 class="calculators__card-title">{{ service.title | markdownify }}</h4>
        {% if service.desc %}
          <p class="calculators__desc">{{ service.desc | markdownify }}</p>
        {% endif %}
        {% if service.link %}
        <div class="calculators__card-footer">
          <a href="{{ service.link.url }}" class="calculators__button" role="button">
            {{ service.link.text }}
          </a>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- End More Calculators -->
