<!-- Clients -->
<section class="bg-white page-section py-5" id="{{ site.data.sitetext.clients.section | default: 'clients' }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.clients.title }}</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-around" {% if site.data.sitetext.clients.horizontal-scrolling == "yes" %} id="scrolling-clients" {% endif %}>
      {% for client in site.data.sitetext.clients.list %}
      <div class="col-md-3 col-sm-6 client-logo">
        <a href="{{ client.url }}" class="h-100" aria-label="Visit {{ client.title }}">
          <img class="img-fluid d-block mx-auto align-self-center" src="{{ client.logo | relative_url }}" alt="{{ client.title }}" width="{{ client.width }}" height="{{ client.height }}" loading="lazy" decoding="async">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
