<!-- Testimonials -->

   <section class="page-section" id="{{ site.data.sitetext.testimonials.section | default: 'testimonials' }}">
     <div class="container" style="max-width: 1000px;">
       <div class="row">
         <div class="col-12 text-center">
           <h2 class="section-heading text-uppercase">{{ site.data.sitetext.testimonials.title }}</h2>
         </div>
       </div>
       <div class="row justify-content-center">
         {% for person in site.data.sitetext.testimonials.people %}
           <div class="col-md-6 col-lg-6 mb-4">
             <div class="team-member">
               <div class="card-body">
                 <p class="text-muted font-italic">{{ person.testimony }}</p>
                 <h5>{{ person.name }}</h5>
               </div>
             </div>
           </div>
         {% endfor %}
       </div>
     </div>
   </section>
<!-- End Testimonials -->
